*{
	font-size: 12px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
$font-size: 12px;
.el-button {
    padding: 7px 8px !important;
}
// .el-button--primary {
//     color: #fff;
//     background-color: #20a0ff;
//     border-color: #20a0ff;
// }
.table-header-btn {
	padding: 6px 8px !important;
}
.table-search {
	max-width: 130px;
}

.el-table th,.el-table td {
	height: 36px;
}
  .el-input__inner {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #bfcbd9;
    box-sizing: border-box;
    color: #1f2d3d;
    font-size: inherit;
    height: auto !important;
    line-height: 1;
    outline: 0;
    padding: 7px 8px !important;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  }
.search-content {
  font-size: 12px !important;
  padding-right: 35px !important;
}
  .el-select .el-input__inner {
    cursor: pointer;
    padding-right: 0px; 
    font-size: 12px;
  }
  .el-select .el-tag {
    height: 20px !important;
    line-height: 20px !important;
    box-sizing: border-box;
    margin: 3px 0 3px 6px;
}
  .el-input__icon {
    width: 24px;
  }
  .el-button--mini {
  margin-left: 0px !important;  
    padding: 4px 4px;
  }
  .el-popover {
    width: 400px !important;
    max-height:300px;
    overflow:auto; 
  }
  .logo_name {
  font-size: 16px !important;
  height: 24px !important;
  line-height: 24px !important;
  display: inline-block;
  }
  .app-shrink-head span.fs{
    font-size: 16px !important;
  }
  #app {
  	textarea {
  		height: auto !important;
  	}
  .dialog-medium .el-dialog {
    width: 700px !important;
  }
  .left {
    width: 180px !important;
  }
  .right {
    margin-left:200px; 
  }
  .left-tree-header {
    padding: 0 6px !important;
  }
  .expiring-left,.expiring-right {
    width: auto !important;
  }
  .personal-sp1 {
    font-size: 12px !important;
  }
  .personal-sp2 {
    font-size: 16px !important;
  }
  }